@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Kumbh+Sans:wght@400;500;600;700;800&display=swap");
$sans: "Kumbh Sans";
$inter: Inter;

$first: #20ad96;
$bg: #faf8f6;

$media-lt: 1280px;
$media-tb: 1024px;
$media-tbp: 768px;
$media-sm: 480px;
$media-smp: 320px;
