.work {
    &--content {
        background-color: $bg;
    }
    &--container {
        padding: 100px 0 160px;
        position: relative;
    }

    &--header {
        display: flex;
        justify-content: space-between;
        gap: 100px;
        @media (max-width: $media-tbp) {
            flex-direction: column;
        }
    }

    &--heading {
        flex: 1 1 50%;
    }

    &--preface {
        color: rgba(74, 85, 108, 0.5);
        font-size: 16px;
        line-height: 24px; /* 150% */
        margin-bottom: 12px;
    }

    &--title {
        margin-bottom: 20px;
    }

    &--description {
        color: rgba(74, 85, 108, 0.7);
        font-size: 20px;
        line-height: 30px; /* 150% */
    }

    &--list {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &--item {
        display: flex;
        gap: 16px;
    }

    &--icon {
        width: 48px;
        height: 48px;
        padding: 13px;
        background-color: #fff;
        border-radius: 50%;
    }
    &--text {
        flex: 1 1 auto;
    }
    &--name {
        margin-top: 8px;
        color: #333461;
        font-size: 19px;
        font-weight: 700;
        line-height: 24px; /* 126.316% */
    }

    &--par {
        margin-top: 8px;
        color: #667085;
        font-size: 16px;
        line-height: 24px; /* 150% */
    }

    &--image {
        flex: 0 1 49%;
    }

    &--video {
        width: 80%;
        margin: -100px auto 0;
        img {
            cursor: pointer;
            width: 100%;
        }
        @media (max-width: $media-tbp) {
            width: 100%;
        }
    }
}
